In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'Downloads\train_jqd04QH.csv')

In [185]:
data_test = pd.read_csv(r'Downloads\test_KaymcHn.csv')

In [4]:
data

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,23798,city_149,0.689,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,1,106,0
1,29166,city_83,0.923,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Funded Startup,1,69,0
2,46,city_16,0.910,NaN,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Public Sector,2,4,0
3,18527,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,50-99,Pvt Ltd,1,26,0
4,21751,city_100,0.887,NaN,No relevent experience,no_enrollment,Masters,STEM,8,NaN,NaN,2,88,1
5,13342,city_21,0.624,Female,Has relevent experience,no_enrollment,Graduate,Other,8,5000-9999,Pvt Ltd,2,34,0
6,11746,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,10000+,Pvt Ltd,3,23,1
7,24127,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,<10,Pvt Ltd,>4,8,0
8,7615,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,10,0
9,9676,city_97,0.925,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,85,0
10,32957,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,4,1000-4999,Pvt Ltd,2,106,0
11,13091,city_160,0.920,Male,No relevent experience,Part time course,Graduate,Other,6,10000+,Public Sector,3,55,0
12,681,city_65,0.802,Male,Has relevent experience,Part time course,Graduate,No Major,9,10000+,Pvt Ltd,1,13,0
13,33356,city_90,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Pvt Ltd,>4,51,0
14,20247,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,1000-4999,Pvt Ltd,1,4,0
15,19752,city_75,0.939,Male,Has relevent experience,Full time course,High School,NaN,9,NaN,NaN,1,28,0
16,28429,city_160,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,1,35,0
17,16508,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,3,<10,Early Stage Startup,never,42,0
18,13977,city_159,0.843,Male,Has relevent experience,no_enrollment,Graduate,STEM,15,100-500,Pvt Ltd,>4,45,0
19,2776,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,Business Degree,>20,NaN,NaN,4,11,0
20,16443,city_21,0.624,Male,Has relevent experience,Full time course,Graduate,STEM,3,10000+,Pvt Ltd,1,106,0
21,16067,city_67,0.855,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,<10,Pvt Ltd,2,51,0
22,20897,city_136,0.897,NaN,Has relevent experience,no_enrollment,High School,NaN,3,NaN,NaN,1,12,0
23,25178,city_28,0.939,NaN,No relevent experience,NaN,Graduate,STEM,1,10000+,NaN,never,11,0
24,3472,city_16,0.910,Male,Has relevent experience,no_enrollment,High School,NaN,>20,500-999,Pvt Ltd,>4,54,1
25,30466,city_10,0.895,Male,No relevent experience,Full time course,High School,NaN,4,10/49,Pvt Ltd,1,89,0
26,18230,city_73,0.754,Male,No relevent experience,no_enrollment,Phd,STEM,15,NaN,NaN,1,41,0
27,5634,city_76,0.698,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Pvt Ltd,2,298,0
28,11753,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,Arts,5,NaN,NaN,never,101,0
29,20881,city_28,0.939,Male,Has relevent experience,no_enrollment,Masters,STEM,10,1000-4999,Pvt Ltd,1,114,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18329,22908,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,19,10/49,Pvt Ltd,1,16,1
18330,7714,city_21,0.624,Male,Has relevent experience,no_enrollment,Masters,STEM,6,10000+,NaN,1,10,0
18331,11436,city_160,0.920,Male,No relevent experience,Full time course,NaN,NaN,11,NaN,NaN,1,46,0
18332,31737,city_104,0.924,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,84,0
18333,10760,city_104,0.924,NaN,No relevent experience,Full time course,Graduate,STEM,3,50-99,Pvt Ltd,1,78,0
18334,31897,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,14,10000+,Pvt Ltd,>4,16,0
18335,6558,city_104,0.924,NaN,Has relevent experience,no_enrollment,Graduate,STEM,4,50-99,Pvt Ltd,1,58,0
18336,30306,city_74,0.579,NaN,Has relevent experience,no_enrollment,Graduate,STEM,7,100-500,Pvt Ltd,1,9,0
18337,4719,city_80,0.847,NaN,Has relevent experience,no_enrollment,Graduate,STEM,5,<10,Pvt Ltd,1,67,0
18338,7017,city_173,0.878,NaN,Has relevent experience,Full time course,Masters,STEM,>20,NaN,NaN,NaN,28,0
18339,24134,city_21,0.624,Male,Has relevent experience,Full time course,Masters,STEM,9,100-500,Pvt Ltd,4,98,0
18340,859,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,6,10000+,Pvt Ltd,1,14,0
18341,4020,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,2,54,0
18342,12930,city_73,0.754,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,50-99,Pvt Ltd,4,83,1
18343,8128,city_11,0.550,Male,Has relevent experience,no_enrollment,High School,NaN,6,NaN,NaN,never,41,0
18344,25411,city_114,0.926,Male,No relevent experience,Part time course,Masters,STEM,3,500-999,Public Sector,3,7,0
18345,2711,city_57,0.866,Male,Has relevent experience,Full time course,Graduate,STEM,8,<10,Pvt Ltd,2,288,0
18346,3611,city_61,0.913,NaN,Has relevent experience,no_enrollment,Graduate,STEM,16,50-99,Pvt Ltd,3,64,0
18347,19961,city_114,0.926,NaN,No relevent experience,no_enrollment,Phd,STEM,>20,10000+,Public Sector,2,54,0
18348,6543,city_23,0.899,Male,Has relevent experience,no_enrollment,Graduate,No Major,>20,1000-4999,Pvt Ltd,>4,28,0
18349,1448,city_175,0.776,Female,Has relevent experience,no_enrollment,Graduate,STEM,17,NaN,NaN,>4,13,1
18350,23546,city_90,0.698,Male,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,14,0
18351,30411,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,10000+,Pvt Ltd,1,32,0
18352,19092,city_90,0.698,Female,Has relevent experience,no_enrollment,Masters,STEM,6,10/49,NaN,1,178,0
18353,11262,city_114,0.926,Male,Has relevent experience,Part time course,Graduate,STEM,19,100-500,Pvt Ltd,2,42,0
18354,25366,city_103,0.920,Male,Has relevent experience,Full time course,Graduate,STEM,5,<10,Pvt Ltd,1,71,0
18355,25545,city_160,0.920,Male,No relevent experience,no_enrollment,Graduate,Humanities,15,50-99,Pvt Ltd,1,160,0
18356,11514,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,11,50-99,Pvt Ltd,3,18,0
18357,1689,city_75,0.939,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10/49,Pvt Ltd,3,41,0
18358,5995,city_105,0.794,Female,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Pvt Ltd,2,84,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
enrollee_id               18359 non-null int64
city                      18359 non-null object
city_development_index    18359 non-null float64
gender                    14261 non-null object
relevent_experience       18359 non-null object
enrolled_university       18017 non-null object
education_level           17902 non-null object
major_discipline          15521 non-null object
experience                18300 non-null object
company_size              13580 non-null object
company_type              13320 non-null object
last_new_job              17992 non-null object
training_hours            18359 non-null int64
target                    18359 non-null int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

In [6]:
data.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4098
relevent_experience          0
enrolled_university        342
education_level            457
major_discipline          2838
experience                  59
company_size              4779
company_type              5039
last_new_job               367
training_hours               0
target                       0
dtype: int64

In [7]:
data.describe()

        enrollee_id  city_development_index  training_hours        target
count  18359.000000            18359.000000    18359.000000  18359.000000
mean   16729.360096                0.847140       65.899014      0.132088
std     9643.749725                0.110189       60.885300      0.338595
min        1.000000                0.448000        1.000000      0.000000
25%     8378.500000                0.796000       23.000000      0.000000
50%    16706.000000                0.910000       47.000000      0.000000
75%    25148.500000                0.920000       89.000000      0.000000
max    33380.000000                0.949000      336.000000      1.000000

In [8]:
data.target.value_counts()

0    15934
1     2425
Name: target, dtype: int64

In [9]:
data.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target'],
      dtype='object')

In [10]:
y = data.target

In [11]:
data.drop('target',axis = 1, inplace = True)

In [12]:
train_num = data.select_dtypes(include = [np.number])

In [13]:
train_cat = data.select_dtypes(include = [object])

In [14]:
train_num.isnull().sum()

enrollee_id               0
city_development_index    0
training_hours            0
dtype: int64

In [15]:
train_cat.isnull().sum()

city                      0
gender                 4098
relevent_experience       0
enrolled_university     342
education_level         457
major_discipline       2838
experience               59
company_size           4779
company_type           5039
last_new_job            367
dtype: int64

In [16]:
train_cat.head()

,city,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job
0,city_149,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,1
1,city_83,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Funded Startup,1
2,city_16,NaN,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Public Sector,2
3,city_64,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,50-99,Pvt Ltd,1
4,city_100,NaN,No relevent experience,no_enrollment,Masters,STEM,8,NaN,NaN,2

In [17]:
len(train_cat.city.unique())

123

In [18]:
len(train_cat.company_size.unique())

9

In [19]:
len(train_cat.company_type.unique())

7

In [20]:
len(train_cat.education_level.unique())

6

In [21]:
len(train_cat.enrolled_university.unique())

4

In [22]:
len(train_cat.experience.unique())

23

In [23]:
len(train_cat.gender.unique())

4

In [24]:
len(train_cat.last_new_job.unique())

7

In [25]:
len(train_cat.major_discipline.unique())

7

In [26]:
len(train_cat.relevent_experience.unique())

2

In [27]:
train_cat.gender.unique()

array(['Male', nan, 'Female', 'Other'], dtype=object)

In [28]:
train_cat.columns

Index(['city', 'gender', 'relevent_experience', 'enrolled_university',
       'education_level', 'major_discipline', 'experience', 'company_size',
       'company_type', 'last_new_job'],
      dtype='object')

In [29]:
train_cat[['company_size','company_type','major_discipline','gender']] = train_cat[['company_size','company_type','major_discipline','gender']].fillna('Unknown')

C:\Users\vishe\Anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [30]:
from statistics import mode

In [31]:
train_cat[train_cat.columns.difference(['company_size','company_type','major_discipline','gender'])] = train_cat[train_cat.columns.difference(['company_size','company_type','major_discipline','gender'])].apply(lambda x: x.fillna(mode(x)))

In [32]:
train_cat.isnull().sum()

city                   0
gender                 0
relevent_experience    0
enrolled_university    0
education_level        0
major_discipline       0
experience             0
company_size           0
company_type           0
last_new_job           0
dtype: int64

In [33]:
train_cat.head()

,city,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job
0,city_149,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,1
1,city_83,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Funded Startup,1
2,city_16,Unknown,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Public Sector,2
3,city_64,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,50-99,Pvt Ltd,1
4,city_100,Unknown,No relevent experience,no_enrollment,Masters,STEM,8,Unknown,Unknown,2

In [34]:
from sklearn.preprocessing import LabelEncoder

In [35]:
le = LabelEncoder()
train_cat[['company_size', 'company_type','education_level','enrolled_university','experience','last_new_job','relevent_experience']] = train_cat[['company_size', 'company_type','education_level','enrolled_university','experience','last_new_job','relevent_experience']].apply(lambda x: le.fit_transform(x))

C:\Users\vishe\Anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [36]:
def create_dummies( a, colname ):
    col_dummies = pd.get_dummies(a[colname], prefix=colname, drop_first=True)
    a = pd.concat([a, col_dummies], axis=1)
    a.drop( colname, axis = 1, inplace = True )
    return a

In [37]:
for c_feature in ['city','gender','major_discipline']:
    train_cat = create_dummies(train_cat , c_feature)

In [38]:
data_new = pd.concat([train_num, train_cat], axis = 1)

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
data_new.drop('enrollee_id', axis=1,inplace = True)

In [172]:
train_test_split?

In [173]:
x_train, x_test, y_train, y_test = train_test_split(data_new,y , test_size = 0.05,random_state = 123)

In [174]:
x_test.shape

(918, 140)

In [64]:
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred))

0.8581154684095861

In [176]:
print(metrics.confusion_matrix(y_test, y_pred))
print(metrics.roc_auc_score(y_test, y_pred))

[[791   8]
 [114   5]]
0.5160021455390666

In [367]:
from sklearn import svm
clf = svm.SVC(kernel='linear', C = 1.0)
#clf.fit(x_train ,y_train)

In [251]:
y_pred = clf.predict(x_test)

In [157]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression().fit(x_train.loc[:,sel.support_],y_train)
y_pred=clf.predict(x_test.loc[:,sel.support_])
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test))

0.8651960784313726

C:\Users\vishe\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [239]:
from sklearn.linear_model import SGDClassifier
sgdclf=SGDClassifier(alpha=.0001, max_iter=50,penalty='l2').fit(x_train,y_train)
sgd_pred=sgdclf.predict(x_test)
print(accuracy_score(sgd_pred,y_test))

C:\Users\vishe\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)

0.8651960784313726

In [241]:
from sklearn.linear_model import RidgeClassifier
ridgeclf=RidgeClassifier(tol=1e-2, solver="sag").fit(x_train,y_train)
ridge_pred=ridgeclf.predict(x_test)
print(accuracy_score(ridge_pred,y_test))

0.8651960784313726

In [175]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 100, random_state = 42)
rf.fit(x_train.loc[:,sel.support_],y_train)
y_pred = rf.predict(x_test.loc[:,sel.support_])
print(accuracy_score(y_pred,y_test))

0.8671023965141612

In [245]:
y_test.value_counts()

0    3177
1     495
Name: target, dtype: int64

In [247]:
y_train.value_counts()

0    12757
1     1930
Name: target, dtype: int64

In [162]:
from sklearn.model_selection import GridSearchCV

In [163]:
pargrid_rf = {'n_estimators' : [100]}
gscv_rf = GridSearchCV(estimator = RandomForestClassifier(),param_grid = pargrid_rf, cv = 10, verbose = True, n_jobs = -1 )

In [164]:
gscv_rf.fit(x_train, y_train)

Fitting 10 folds for each of 1 candidates, totalling 10 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   6 out of  10 | elapsed:   15.2s remaining:   10.1s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:   18.2s finished

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'n_estimators': [100]}, pre_dispatch='2*n_jobs',
       refit=True, return_train_score='warn', scoring=None, verbose=True)

In [165]:
y_pred = gscv_rf.predict(x_test)

In [166]:
print(metrics.accuracy_score(y_test, y_pred))

0.8570261437908496

In [167]:
print(metrics.confusion_matrix(y_test, y_pred))
print(metrics.roc_auc_score(y_test, y_pred))

[[3128   49]
 [ 476   19]]
0.5114802415085702

In [98]:
from sklearn.ensemble import AdaBoostClassifier

In [300]:
AdaBoostClassifier?

In [313]:
RandomForestClassifier?

In [153]:
rf = RandomForestClassifier(max_depth = 35) 
ab = AdaBoostClassifier(n_estimators=5, base_estimator=clf,learning_rate=0.1)

# training the model
ab.fit(x_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=1, loss='deviance', max_depth=30,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_s...      subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False),
          learning_rate=0.1, n_estimators=5, random_state=None)

In [154]:
y_pred = ab.predict(x_test)

In [155]:
print(metrics.accuracy_score(y_test, y_pred))

0.7464596949891068

In [156]:
print(metrics.confusion_matrix(y_test, y_pred))
print(metrics.roc_auc_score(y_test, y_pred))

[[2618  559]
 [ 372  123]]
0.5362663461813604

In [103]:
from sklearn.ensemble import GradientBoostingClassifier

In [132]:
clf = GradientBoostingClassifier(n_estimators=2, loss = 'deviance',learning_rate=1, max_depth=30 )

In [52]:
clf.fit(x_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=1, loss='exponential', max_depth=30,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [118]:
GradientBoostingClassifier?

In [353]:
from sklearn.model_selection import cross_val_predict, KFold

In [361]:
rf = RandomForestClassifier(n_estimators = 100, random_state = 42)
rf.fit(x_train,y_train)

# without cross-valdidation
prediction = rf.predict(x_test)

# with cross-valdidation
cv = KFold(n_splits=2)
prediction_cv = cross_val_predict(rf, x_train, y_train, cv=cv)

In [364]:
len(prediction_cv)

14687

In [362]:
len(prediction)

3672

In [358]:
print(metrics.accuracy_score(y_test, prediction_cv))

ValueError: Found input variables with inconsistent numbers of samples: [3672, 14687]

In [360]:
cross_val_predict?

In [57]:
from sklearn.feature_selection import RFE

In [58]:
sel = RFE(clf, n_features_to_select = 20)

In [59]:
sel.fit(x_train,y_train)

RFE(estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=1, loss='exponential', max_depth=30,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_sam...      subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False),
  n_features_to_select=20, step=1, verbose=0)

In [62]:
x_train.loc[:,sel.support_]

,city_development_index,training_hours,relevent_experience,enrolled_university,education_level,experience,company_size,company_type,last_new_job,city_city_103,city_city_114,city_city_16,city_city_160,gender_Male,gender_Unknown,major_discipline_Business Degree,major_discipline_Humanities,major_discipline_Other,major_discipline_STEM,major_discipline_Unknown
4084,0.920,23,1,0,1,14,2,5,0,0,0,0,1,1,0,0,0,0,0,1
15503,0.920,151,1,0,0,14,0,0,0,0,0,0,1,1,0,0,0,0,1,0
6453,0.910,202,0,2,0,3,1,5,0,0,0,1,0,0,1,0,0,0,1,0
12367,0.920,202,1,1,0,11,1,5,0,1,0,0,0,0,1,0,0,0,1,0
6222,0.624,78,0,2,2,14,7,0,0,0,0,0,0,1,0,0,0,0,1,0
9711,0.920,45,0,2,0,7,1,5,4,1,0,0,0,1,0,0,0,0,1,0
2605,0.920,21,1,0,1,16,8,6,5,0,0,0,1,1,0,0,0,0,0,1
17378,0.926,76,0,2,0,8,7,5,4,0,1,0,0,0,1,0,0,0,1,0
9924,0.920,43,0,2,2,21,2,5,4,1,0,0,0,1,0,0,0,0,1,0
5487,0.920,37,0,2,0,13,4,5,0,1,0,0,0,1,0,0,0,0,1,0
7380,0.926,100,1,1,4,13,8,5,5,0,1,0,0,1,0,0,0,0,0,1
6828,0.698,48,0,2,2,17,3,5,2,0,0,0,0,1,0,0,0,0,1,0
17742,0.920,8,0,1,0,18,3,5,1,1,0,0,0,1,0,0,0,0,1,0
5761,0.827,17,0,2,2,2,0,5,4,0,0,0,0,0,1,0,0,0,1,0
10203,0.754,40,0,2,0,18,1,6,3,0,0,0,0,1,0,0,0,0,1,0
2301,0.767,24,0,1,0,18,1,2,0,0,0,0,0,0,1,0,0,0,1,0
8351,0.920,158,1,2,3,21,8,6,4,1,0,0,0,1,0,0,1,0,0,0
641,0.949,92,0,2,0,7,1,5,0,0,0,0,0,0,1,0,0,0,1,0
3552,0.910,55,0,2,0,7,4,5,0,0,0,1,0,1,0,1,0,0,0,0
139,0.762,67,0,1,2,19,3,5,0,0,0,0,0,1,0,0,0,0,1,0
1567,0.920,33,0,0,0,11,7,5,0,1,0,0,0,1,0,0,0,0,1,0
4598,0.624,63,0,2,0,6,3,5,0,0,0,0,0,0,1,0,0,0,1,0
12849,0.884,10,0,2,2,11,7,5,1,0,0,0,0,1,0,0,0,0,1,0
4986,0.920,20,0,2,0,1,3,5,4,1,0,0,0,0,0,0,0,0,1,0
4604,0.624,34,1,2,0,18,0,0,5,0,0,0,0,1,0,0,0,0,1,0
6580,0.856,194,0,2,0,21,4,5,4,0,0,0,0,0,1,0,0,0,1,0
973,0.448,73,1,2,0,0,8,6,5,0,0,0,0,1,0,0,0,0,1,0
16282,0.926,31,1,0,0,18,6,4,3,0,1,0,0,1,0,0,0,0,1,0
5907,0.624,18,1,2,2,20,3,5,0,0,0,0,0,0,1,1,0,0,0,0
14090,0.550,55,0,0,2,6,8,6,1,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2338,0.910,7,0,2,0,21,6,5,4,0,0,1,0,1,0,0,0,0,1,0
11894,0.794,11,0,2,0,19,5,5,1,0,0,0,0,1,0,0,0,0,1,0
17766,0.698,131,1,2,2,4,4,5,5,0,0,0,0,1,0,0,0,0,1,0
3252,0.926,22,1,2,1,13,8,6,0,0,1,0,0,1,0,0,0,0,0,1
8028,0.727,23,0,2,0,16,8,5,0,0,0,0,0,0,1,0,0,0,1,0
2428,0.920,37,0,0,0,5,3,5,0,1,0,0,0,0,1,0,0,0,1,0
4195,0.926,78,0,2,2,21,5,5,2,0,1,0,0,0,1,0,0,0,1,0
17543,0.926,84,0,2,2,7,8,6,0,0,1,0,0,0,1,0,0,0,1,0
6648,0.910,102,0,2,0,21,2,5,4,0,0,1,0,1,0,0,0,0,1,0
18357,0.939,41,0,2,0,21,0,5,2,0,0,0,0,1,0,0,0,0,1,0
16423,0.920,28,0,2,0,7,8,6,4,1,0,0,0,1,0,0,0,0,1,0
6484,0.776,88,0,0,0,2,1,6,3,0,0,0,0,1,0,0,0,0,1,0
12739,0.920,40,0,2,0,10,1,5,4,1,0,0,0,0,1,0,1,0,0,0
18231,0.920,22,0,2,2,21,8,6,1,1,0,0,0,1,0,0,0,0,1,0
7985,0.925,80,0,2,0,16,1,4,5,0,0,0,0,0,1,0,0,0,1,0
17476,0.738,39,0,0,0,16,1,5,0,0,0,0,0,1,0,0,0,0,1,0
14944,0.878,111,0,2,0,5,4,5,4,0,0,0,0,1,0,0,0,0,1,0
3325,0.897,43,0,2,1,9,3,5,0,0,0,0,0,1,0,0,0,0,0,1
2894,0.926,9,0,2,0,1,2,5,0,0,1,0,0,1,0,0,0,0,1,0
17747,0.804,117,0,2,2,19,6,5,3,0,0,0,0,1,0,0,0,0,1,0
3481,0.920,86,0,2,0,17,8,6,4,1,0,0,0,1,0,0,0,0,1,0
111,0.527,86,1,1,0,0,8,6,5,0,0,0,0,0,0,0,0,0,1,0
942,0.939,150,0,2,0,6,8,6,0,0,0,0,0,1,0,0,0,0,1,0
5664,0.910,24,0,2,0,21,1,3,4,0,0,1,0,1,0,0,0,0,1,0
96,0.624,32,0,2,0,17,5,5,0,0,0,0,0,1,0,0,0,0,1,0
13435,0.925,65,0,2,0,1,7,5,1,0,0,0,0,1,0,0,0,0,1,0
7763,0.910,66,0,2,0,21,2,5,3,0,0,1,0,1,0,0,0,0,0,0
15377,0.926,4,0,2,0,21,8,5,3,0,1,0,0,1,0,0,0,0,0,1
17730,0.624,48,0,0,2,11,4,5,0,0,0,0,0,0,1,0,0,0,1,0
15725,0.920,60,0,2,0,21,5,5,3,1,0,0,0,1,0,0,0,0,1,0

In [95]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 100, max_depth = 35, random_state = 42)
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)
print(metrics.accuracy_score(y_pred,y_test))

0.8578431372549019

In [96]:
print(metrics.confusion_matrix(y_test, y_pred))
print(metrics.roc_auc_score(y_test, y_pred))

[[3133   44]
 [ 478   17]]
0.5102469453744242

In [94]:
RandomForestClassifier?

In [179]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.0.2-py3-none-win_amd64.whl (24.6 MB)
Requirement already satisfied: numpy in c:\users\vishe\anaconda3\lib\site-packages (from xgboost) (1.16.2)
Requirement already satisfied: scipy in c:\users\vishe\anaconda3\lib\site-packages (from xgboost) (1.2.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.0.2

WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the 'c:\users\vishe\anaconda3\python.exe -m pip install --upgrade pip' command.

In [182]:
from xgboost import XGBClassifier

errxgb = []
y_pred_tot_xgb = []

from sklearn.model_selection import KFold,StratifiedKFold

fold = StratifiedKFold(n_splits=15)
i = 1
for train_index, test_index in fold.split(data_new,y):
    x_train, x_val = data_new.iloc[train_index], data_new.iloc[test_index]
    y_train, y_val = y[train_index], y[test_index]
    m = XGBClassifier(boosting_type='gbdt',
                      max_depth=5,
                      learning_rate=0.07,
                      n_estimators=5000,
                      random_state=1994)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          eval_metric='auc',
          verbose=200)
    pred_y = m.predict_proba(x_val)[:,-1]
    print("err_xgb: ",metrics.roc_auc_score(y_val,pred_y))
    errxgb.append(metrics.roc_auc_score(y_val, pred_y))
    pred_test = m.predict_proba(x_test)[:,-1]
    i = i + 1
    y_pred_tot_xgb.append(pred_test)

[0]	validation_0-auc:0.65964	validation_1-auc:0.65567
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.77617	validation_1-auc:0.68084
Stopping. Best iteration:
[53]	validation_0-auc:0.72247	validation_1-auc:0.68861

err_xgb:  0.6886142178553591
[0]	validation_0-auc:0.66220	validation_1-auc:0.63093
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.77925	validation_1-auc:0.65170
Stopping. Best iteration:
[19]	validation_0-auc:0.69584	validation_1-auc:0.67765

err_xgb:  0.6776477010092564
[0]	validation_0-auc:0.66169	validation_1-auc:0.66856
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.77424	validation_1-auc:0.66987
Stopping. Best iteration:
[62]	validation_0-auc:0.73125	validation_1-auc:0.68853

err_xgb:  0.6885300163757361
[0]	validation_0-auc:0.66463	validation_1-auc:0.60861
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.77870	validation_1-auc:0.65720
Stopping. Best iteration:
[186]	validation_0-auc:0.77544	validation_1-auc:0.65882

err_xgb:  0.6588156045666237
[0]	validation_0-auc:0.66164	validation_1-auc:0.66129
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.78043	validation_1-auc:0.64966
Stopping. Best iteration:
[2]	validation_0-auc:0.67070	validation_1-auc:0.67208

err_xgb:  0.6720838855176583
[0]	validation_0-auc:0.66363	validation_1-auc:0.61218
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.77777	validation_1-auc:0.62296
Stopping. Best iteration:
[34]	validation_0-auc:0.71100	validation_1-auc:0.64380

err_xgb:  0.6437946106809886
[0]	validation_0-auc:0.65868	validation_1-auc:0.67409
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.77618	validation_1-auc:0.70001
Stopping. Best iteration:
[69]	validation_0-auc:0.73717	validation_1-auc:0.71182

err_xgb:  0.7118208132803236
[0]	validation_0-auc:0.66424	validation_1-auc:0.61917
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.78310	validation_1-auc:0.62742
Stopping. Best iteration:
[32]	validation_0-auc:0.70737	validation_1-auc:0.64277

err_xgb:  0.6427658040966264
[0]	validation_0-auc:0.66092	validation_1-auc:0.63423
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.78105	validation_1-auc:0.64052
Stopping. Best iteration:
[30]	validation_0-auc:0.70553	validation_1-auc:0.65477

err_xgb:  0.6547714538141406
[0]	validation_0-auc:0.66077	validation_1-auc:0.64945
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.77546	validation_1-auc:0.66381
Stopping. Best iteration:
[26]	validation_0-auc:0.70162	validation_1-auc:0.67088

err_xgb:  0.6708777987026574
[0]	validation_0-auc:0.66298	validation_1-auc:0.66289
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.77512	validation_1-auc:0.65209
Stopping. Best iteration:
[1]	validation_0-auc:0.67099	validation_1-auc:0.67143

err_xgb:  0.6714332502836555
[0]	validation_0-auc:0.66439	validation_1-auc:0.65455
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.77376	validation_1-auc:0.68777
Stopping. Best iteration:
[74]	validation_0-auc:0.74162	validation_1-auc:0.69042

err_xgb:  0.6904177047876385
[0]	validation_0-auc:0.65978	validation_1-auc:0.68028
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.77623	validation_1-auc:0.70030
Stopping. Best iteration:
[72]	validation_0-auc:0.73839	validation_1-auc:0.70635

err_xgb:  0.7063492063492063
[0]	validation_0-auc:0.66195	validation_1-auc:0.65139
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.78293	validation_1-auc:0.68441
Stopping. Best iteration:
[169]	validation_0-auc:0.77699	validation_1-auc:0.68679

err_xgb:  0.6867915920974139
[0]	validation_0-auc:0.66253	validation_1-auc:0.63539
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.77767	validation_1-auc:0.66358
Stopping. Best iteration:
[102]	validation_0-auc:0.75239	validation_1-auc:0.67058

err_xgb:  0.6705822835152239

In [183]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-2.3.1-py2.py3-none-win_amd64.whl (544 kB)
Requirement already satisfied: numpy in c:\users\vishe\anaconda3\lib\site-packages (from lightgbm) (1.16.2)
Requirement already satisfied: scikit-learn in c:\users\vishe\anaconda3\lib\site-packages (from lightgbm) (0.20.3)
Requirement already satisfied: scipy in c:\users\vishe\anaconda3\lib\site-packages (from lightgbm) (1.2.1)
Installing collected packages: lightgbm
Successfully installed lightgbm-2.3.1

WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the 'c:\users\vishe\anaconda3\python.exe -m pip install --upgrade pip' command.